body {
    background: whitesmoke;
}

input {
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90%;
    z-index: -1;
}

::-webkit-input-placeholder {
  color: black;
  font-size: 9px;
}
::-moz-placeholder {
  color: black;
  font-size: 9px;
}
:-ms-input-placeholder {
  color: black;
  font-size: 9px;
}
::placeholder {
  color: black;
  font-size: 9px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#mag-glass {

    z-index: 10;

}